@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
    .dailyHeader {
        text-align: center;
    }
    .navigation__list {
        flex-direction: column;
        display: none;
    }
    .navigation__list--visible {
        display: flex;
    }
    .navigation__item {
        margin: 10px 0;
    }
    .navigation {
        padding: 0;
    }
}@media (min-width:500px) {
    .navigation__button {
        display: none;
    }
}