/* Colors of site*/
.colorstrony {
    color: #67618C;
    color: #89888C;
    color: #F0F0F2;
    color: #59554D;
    color: #26211F;
}
/*
Font - Poppins 



*/
html {
    box-sizing: border-box;
}

*,*:after, *:before {
    box-sizing: inherit;
}

body {
    background: #fefefe;
}

.mainHeader {
    color: #67618C;
}

.sectionHeader, .thirdHeader, .blogHeader, .programming__header {
    color: #26211F;
    padding: 0 0 0 10%;
}

.dailyHeader, .programming__title {
    color: #59554D;
}


.dailyParagraph, .programming__content, .footer__content, .programming__list{
    color: rgba(0, 0, 0, 0.84);
    padding: 0 0 0 16px;
    margin: 20px 100px;
}

.timeData {
    color : black;
}

.link {
    color: #67618C;
    text-decoration: none;
    padding: 0 5px;
}

.sectionBio {
    width: 100%;
    max-width: 700px;
}

.greece {
    width: 10vw;
}

.main {
    width: 60%;
    max-width: 700px;
    margin: 0px auto; 
    padding-top: 50px;
}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    margin: 10px;
    border: 10px solid red;
    box-sizing: border-box;
}
.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #67618C;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 20px;
    box-sizing: border-box;
    background: #fefefe;
    z-index: 1;
}

.imagePosition {
    display: block;
    margin: auto;
}

.terminator__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.terminator {
    background: black;
    margin : auto -100%;
    padding: 0 100px;
 
}

.dailyArticle {
}

.background {
    position: relative;
}

.background__video {
    width: 100%;
    height: 600px;
}
.background__header {
    font-size: 13em;
    color: #fefefe;
    position: absolute;
    width: 100%;
    bottom: -19%;
    right: -14%;
    text-align: left;
    line-height: 0.77;
    z-index: 232;
    font-weight: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.shadow {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.473));
    position: absolute;
    width: 100%;
    height: 600px%;
}

.programming__header--false {
    padding: 0;
    color: rgb(199, 14, 14);
}

.programming__header--true {
    padding: 0;
    color: green;
}
