/* Colors of site*/
.colorstrony {
    color: #67618C;
    color: #89888C;
    color: #F0F0F2;
    color: #59554D;
    color: #26211F;
}



body {
    background: #fefefe;
}

.mainHeader {
    color: #67618C;
}

.sectionHeader, .thirdHeader, .blogHeader {
    color: #26211F;
}

.dailyHeader {
    color: #59554D;
}


.dailyParagraph {
    color: rgba(0, 0, 0, 0.84);
    padding: 0 0 0 16px;
    margin: 20px 100px;

}

.timeData {
    color : black;
}

.link {
    color: #67618C;
    text-decoration: none;
    padding: 0 5px;
}

.sectionBio {
    width: 100%;
    max-width: 700px;
}

.greece {
    width: 10vw;
}

.mainDaily {
    width: 100%;
    max-width: 700px;
    margin: 32px auto; 
    padding-top: 50px;
}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    margin: 10px;
    border: 10px solid red;
    box-sizing: border-box;
}
.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #67618C;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background: #fefefe;
}