/* Colors of site*/
.colorstrony {
    color: #67618C;
    color: #89888C;
    color: #F0F0F2;
    color: #59554D;
    color: #26211F;
}



body {
    background: #fefefe;
}

.mainHeader {
    color: #67618C;
}

.sectionHeader, .thirdHeader, .blogHeader {
    color: #26211F;
}

.dailyHeader {
    color: #59554D;
}


.dailyParagraph {
    color: rgba(0, 0, 0, 0.84);
}

.timeData {
    color : black;
}

.link {
    color: #89888C;
}